<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC 	"-//mybatis.org//DTD Mapper 3.0//EN" 
			"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace : 패키지이름.클래스이름 -->
<mapper namespace="com.myweb.mapper.ToDoMapper">

	<insert id="insertToDo" parameterType="com.myweb.dto.ToDoDto">
		insert into newtodo2 (title, content, completed)
		values (#{title}, #{content}, #{completed})
	</insert>
	
	<select id="selectAllToDo" resultType="com.myweb.dto.ToDoDto">
		select idx, title, writedate, completed
		from newtodo2
		order by completed asc, writedate desc
	</select>
	
	<select id="selectToDoByIdx" 
			parameterType="int" 
			resultType="com.myweb.dto.ToDoDto">
		select idx, title, content, writedate, completed
		from newtodo2
		where idx = #{ idx }
	</select>
	
	<delete id="deleteToDo" 
			parameterType="int">
		delete from newtodo2 where idx = ${idx}
	</delete>
	
	<update id="updateToDo" 
			parameterType="com.myweb.dto.ToDoDto">
		update newtodo2
		set title = #{ title }, content = #{ content }, completed = #{ completed }
		where idx = #{ idx }
	</update>

</mapper>








