		<table th:each="comment: ${ comments }" xmlns:th="http://www.thymeleaf.org" class="table table-hover">			
				
						<tr>
							<td th:style="|width:${comment.depth * 40}px;text-align: right;|">
								<img th:if="${ comment.depth > 0 }" th:src="@{/image/re.gif}">
							</td>
							<td>
								<div th:id="|comment-view-area-${ comment.commentNo }|">
									<th:fragment th:if="${ comment.deleted }">
										<br><br>
										<span style='color:gray'>삭제된 글입니다.</span>
										<br><br>
									</th:fragment>
									<th:fragment th:unless="${ comment.deleted }">
										[[${ comment.writer }]] &nbsp;&nbsp; [[(${ #dates.format(comment.writeDate, 'yyyy-MM-dd HH:mm:ss') })]]
									    <br /><br />
									    <span th:text="${ #strings.replace(comment.content, '
', '<br>') }"></span>
										<br /><br />
										<div th:style='${ (session.loginuser != null && session.loginuser.email == comment.writer) ? "display:block" : "display:none" }'>
									    	<a class="edit-comment" th:data-comment-no="${ comment.commentNo }" href="javascript:">편집</a>
											&nbsp;
											<a class="delete-comment" th:data-comment-no="${ comment.commentNo }" href="javascript:">삭제</a>
										</div>
										<a href="#" th:data-comment-no="${ comment.commentNo }" class="recomment-link btn btn-sm btn-success">댓글 쓰기</a>
									</th:unless>
								</div>	                
								<div th:id="${ 'comment-edit-area-' + comment.commentNo }" style="display: none">
									[[${ comment.writer }]] &nbsp;&nbsp; [[(${ #dates.format(comment.writeDate, 'yyyy-MM-dd HH:mm:ss') })]]
									<br /><br />
									<form>
									<input type="hidden" name="commentNo" th:value="${ comment.commentNo }" />
									<textarea name="content" class="form-control" rows="3" 
										maxlength="200" th:text="${ comment.content }"></textarea>
									</form>
									<br />
									<div>
										<a class="update-comment" th:data-comment-no="${ comment.commentNo }" href="javascript:">수정</a> 
										&nbsp; 
										<a class="cancel-edit-comment" th:data-comment-no="${ comment.commentNo }" href="javascript:">취소</a>
									</div>
								</div>
							</td>
						</tr>
		</table>